@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-color: #ffffff;
    --accent-color: #FFC14D;
    --font-color: #000000;
    --background-color: #FFF2DB;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    display: flex;
    color: var(--font-color)
}

#notesList{
    width: 20vw;
    min-width: 250px;
    border-right: 2px solid var(--accent-color);
    padding: 10px;
    overflow-y: auto;

}

.noteCard{
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: var(--background-color);
}

.noteCard.active{
    background-color: var(--accent-color);
}

.noteCard.active:hover{
    background-color: var(--accent-color);
}

.noteCard:hover{
    background-color: #ede0ca;
}

#addBtn{
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#main{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    height: 80%;
}

input, textarea{
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
}

input{

    font-size: 1.5em;
}

textarea{
    font-size: 1.5em;
    height: 50vh;
}

.btns{
    display: flex;
    justify-content: space-between;
}

#saveBtn, #deleteBtn{
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 5px;

}

#deleteBtn{
    background-color:  #FF4500;
    color: white;
}